.border-box {
    box-sizing: border-box;
    border: #666666 solid 1px;
}

.padding {
    padding: 10px;
}

.margin {
    margin: 10px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    display: inline-block;
}